/* You can add global styles to this file, and also import other style files */


body{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    
}

button{
    cursor: pointer;
}

a{
    text-decoration: none;
    color:rgb(24, 23, 23);
}


.flex{
    display: flex;
}


.flex-col{
    flex-direction: column;
}
.jus-ctr{
    justify-content: center;
}

.jus-sp-bwn{
    justify-content: space-between;
}

.jus-sp-ar{

    justify-content: space-around;  
}


.gp-10{
    gap: 10px;
}

.ft-bold{
    font-weight: bold;
}
.ft-20{
    font-size: 20px;
}

.disabled{
    opacity: 0.6;
    cursor: not-allowed;
}

.mt-20{
    margin-top: 20px;
}
.mt-10{
    margin-top: 10px;
}
.m-10{
    margin: 10px;
}
.flex-wrap{
    flex-wrap:wrap ;
}

.bg-white{
    background-color: white;
}

.bg-gray{
    background-color: #f2f2f2;
}
.bg-blue{
    background-color: #007bff;
}

input{
    height: 1.5rem;
}

.al-ctr{
    align-content: center;
}




.flex-col{
    display: flex;
    flex-direction: column;
}
.error{
    color: rgb(226, 43, 43);
    font-weight: bold;
}

.container{
    background-color: rgba(191, 167, 123, 0.313);
    padding: 20px;
    border-radius: 5px;
    width:100%;
    max-width: 450px;
    margin: 0 auto;
    margin-top: 30px;
}

h2{
    text-align: center;
    margin: 0px;
}

.form-inp{
    font-size: 1.2rem;
    border: 2px solid rgba(202, 176, 103, 0.796);
    border-radius: 5px;
    padding: 2px;
}
.w-100{
    width:100%;
}
.sub-btn{
    padding: 7px 0px;
    font-size: 1.2rem;
    border-radius: 5px;
    background-color: rgba(32, 221, 73, 0.737);
    border: none;
    color: #121212;
}

label{
    font-weight: 600;
    font-size: 1.2rem;
    margin-bottom: 5px;
}
.signin{
    color: Blue;
    font-weight: 700;
}
label{
    margin-top:20px;
}