<header>
    <nav class="flex jus-sp-ar bg-c">
        <div class="logo ft-bold ft-20">
            <span>Book Management</span>
        </div>
        <ng-container *ngIf="isLoggedIn">
            <!-- <div class="search-relative">
                <span class="search-icon"><fa-icon [icon]="faSearch" class="ft-light"></fa-icon></span>
                <input
                    type="text" name="search" id="search" placeholder="Search Books" class="search-input" />
                <button class="search-btn">Search</button>
            </div> -->
        </ng-container>
        <div class="nav-items flex gp-20 ft-bold">
            <ng-container *ngIf="!isLoggedIn">
                <a routerLink="signin">
                    <span class="nav-itms-ele"><fa-icon [icon]="faSignIn"></fa-icon>Signin</span></a>
                <a routerLink="signup">
                    <span class="nav-itms-ele"><fa-icon [icon]="faReg"></fa-icon>Signup</span></a>
            </ng-container>
            <ng-container *ngIf="isLoggedIn">
                <a routerLink="home">
                    <span class="nav-itms-ele"><fa-icon [icon]="faHome"></fa-icon>Home</span></a>
                <a routerLink="create"><span class="nav-itms-ele"><fa-icon [icon]="faCart"></fa-icon>Create</span></a>
                <!-- <a routerLink="cart"><span class="nav-itms-ele"><fa-icon [icon]="faBook"></fa-icon>Book</span></a> -->
                <a routerLink="signout" (click)="logOut()"><span class="nav-itms-ele"><fa-icon
                            [icon]="faSignOut"></fa-icon>Signout</span></a>
            </ng-container>
            <div class="nav-items flex ">
                <ng-container *ngIf="isLoggedIn">
                    <div class="br-5">{{userName}}</div>
                 </ng-container>
            </div>
        </div>
        
    </nav>
</header>
<router-outlet></router-outlet>