.flex-col{
    display: flex;
    flex-direction: column;
}
.error{
    color: rgb(226, 43, 43);
    font-weight: bold;
}

.container{
    background-color: rgba(191, 167, 123, 0.313);
    padding: 20px;
    border-radius: 5px;
    width:100%;
    max-width: 450px;
    margin: 0 auto;
    margin-top: 100px;
}

h2{
    text-align: center;
    margin: 0px;
}
.mt-10{
    margin-top:10px;
}

.form-inp{
    font-size: 1.2rem;
    border: 2px solid rgba(202, 176, 103, 0.796);
    border-radius: 5px;
    padding: 2px;
}
.w-100{
    width:100%;
}
.sub-btn{
    padding: 7px 0px;
    font-size: 1.2rem;
    border-radius: 5px;
    background-color: rgb(11, 230, 193);
    border: none;
}

label{
    font-weight: 600;
    font-size: 1.2rem;
    margin-bottom: 5px;
}
.signin{
    color: Blue;
    font-weight: 700;
}











ul {
    font-family: Arial, Verdana;
    font-size: 14px;
    margin: 0;
    padding: 0;
    list-style: none;
}
ul li {
    display: block;
    position: relative;
    float: left;
}
li ul {
    display: none;
}
ul li a {
    display: block;
    text-decoration: none;
    color: #ffffff;
    border-top: 1px solid #ffffff;
    padding: 5px 15px 5px 15px;
    background: #1e7c9a;
    margin-left: 1px;
    white-space: nowrap;
}
ul li a:hover {
background: #3b3b3b;
}
li:hover ul {
    display: block;
    position: absolute;
}
li:hover li {
    float: none;
    font-size: 11px;
}
li:hover a { background: #3b3b3b; }
li:hover li a:hover {
    background: #1e7c9a;
}